@import "_env"

@import "~bulma/sass/base/_all"
@import "~bulma/sass/elements/_all"
@import "~bulma/sass/form/_all"
@import "~bulma/sass/components/_all"
@import "~bulma/sass/grid/_all"
@import "~bulma/sass/helpers/_all"
@import "~bulma/sass/layout/_all"

.has-text-nowrap
    white-space: nowrap

// This exist in the github, but not for installed even though versions match.
@each $property, $shortcut in $spacing-shortcuts
  @each $name, $value in $spacing-values
    // All directions
    .#{$shortcut}-#{$name}
      #{$property}: $value !important

.mt-auto
    margin-top: auto 

.mr-auto
    margin-right: auto

.mb-auto
    margin-bottom: auto

.ml-auto
    margin-left: auto

.mx-auto
    margin-left: auto
    margin-right: auto

.my-auto
    margin-top: auto
    margin-bottom: auto

@for $i from 1 through 10
  $width: ($i * 10)
  .w-#{$width}
    width: percentage($width/100)
  .mw-#{$width}
    max-width: percentage($width/100)

.is-grid
    border-top: 1px solid #b5b5b5
    border-left: 1px solid #b5b5b5

    > *,
    > .button
        height: auto
        border-radius: 0
        border-top: none
        border-left: none
        border-right: 1px solid #b5b5b5
        border-bottom: 1px solid #b5b5b5

@for $i from 1 through 3
    .has-border-#{$i}
        border-width: $i + 0px
    button.has-border-#{$i}
        border-color: inherit !important
        

.is-circle
    border-radius: 290486px !important

.has-text-inherit
    color: inherit

.has-shadow-light,
.has-img-shadow-light img
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02) !important

.has-shadow,
.has-img-shadow img
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.2), 0 0px 0 1px rgba(10, 10, 10, 0.02) !important


.has-filled-content,
.has-filled-content
    display: flex !important
    flex-direction: column

    > *
        flex-grow: 1

.has-background-clear
    background-color: transparent !important

@media screen and (max-width: 768px)
    .button.is-icon-only-mobile
        .icon
            margin-right: calc(-0.5em - 1px) !important

            + *
                display: none !important

.card
    @each $name, $pair in $colors
        $color: nth($pair, 1)
        &.is-#{$name}
            border-top: 4px solid $color

.dropdown
    .title
        text-align: left
        padding: 0.375rem 1rem
        margin-bottom: 0
    &.is-over-btn
        &.is-up .dropdown-menu
            bottom: 0

.table
    &.is-vcentered
        td
            vertical-align: middle

.has-flex-rows
    &.is-hover
        .is-flex:hover
            background-color: $scheme-main-bis

.title
    @each $name, $pair in $colors
        $color: nth($pair, 1)
        &.is-#{$name}
            padding-top: .5em
            border-top: 4px solid $color