<div class="jumbotron">
    <div class="container text-center">
        <h1>Bootcamp Instrutor Utilites</h1>
        <hr>
        <p>Login or sign up to get started</p>
        <button class="btn btn-outline-secondary">Sign Up</button>
        <button class="btn btn-outline-primary" data-toggle="modal" data-target="#login-modal">Login</button>
    </div>
</div>