.list-group.flex-wrap {
    border-left: 1px solid rgba(0,0,0,.125);
    border-top: 1px solid rgba(0,0,0,.125);
}
.list-group.flex-wrap .list-group-item {
    border-radius: 0;
    border: 1px solid rgba(0,0,0,.125);
    border-left: none;
    border-top: none;
}

.input-group.list-group-item {
    display: flex;
    padding: 0;
}

.input-group.list-group-item .form-control {
    background: transparent;
}


.input-group.list-group-item .form-control,
.input-group.list-group-item .input-group-text,
.input-group.list-group-item .btn {
    border: none;
    border-radius: 0;
}